@model PagedList.StaticPagedList<StoreDataInformation.Models.CategoryProduct>
@using PagedList.Mvc;

    <style>
        table, th, td {
           text-align:center
        }
    </style>
    <div class="row">
        <div class="col-lg-6"></div>
    </div>
<table class="table table-striped table-bordered" dir="rtl">
    <tr>
        <th style="text-align:center">
            كود السلعه
        </th>
        <th>
            الاسم 
        </th>
        <th>
            المقاس
        </th>
        <th>اللون</th>
        <th>العدد</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Code)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Size)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Color)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumberInStock)
    </td>
    <td>
        @Html.ActionLink("تعديل", "Edit", new { id = item.Id }) |
        @Html.ActionLink("حذف", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>

<div id="myPager">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    <br />
    Total: @Model.TotalItemCount
    @Html.PagedListPager(
        Model,
        page => Url.Action(
            "Index",
            new
            {
                ProdcutCode = ViewBag.ProdcutCode,
                page
            }
        ),
        new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<<",
            LinkToPreviousPageFormat = "السابق",
            LinkToNextPageFormat = "التالى",
            LinkToLastPageFormat = ">>",
        }
    )
</div>
<script>
    $(function () {
        $('#myPager').on('click', 'a', function (e) {
            debugger;
            if ($(this).attr('href') === undefined) {
                return;
            } else {
                $.ajax({
                    url: this.href,
                    type: 'POST',
                    cache: false,
                    success: function (result) {
                        $('#ProductDiv').html(result);
                    }
                });
                return false;
            }
        });
    });
</script>