@model PagedList.StaticPagedList<StoreDataInformation.Models.CustomerProdcut>
@using PagedList.Mvc;

    <style>
        table, th, td {
           text-align:center
        }
    </style>
    <div class="row">
        <div class="col-lg-6"></div>
    </div>
<table class="table table-striped table-bordered" dir="rtl">
    <tr>
        <th style="text-align:center">
            Customer Name
        </th>
        <th>
            Prodcut Code 
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.customer.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryProduct.Code)
    </td>
</tr>
    }

</table>

<div id="myPager" dir="rtl">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    <br />
    Total: @Model.TotalItemCount
    @Html.PagedListPager(
        Model,
        page => Url.Action(
            "Index",
            new
            {
                CustomerId = ViewBag.CustomerId,
                page
            }
        ),
        new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<<",
            LinkToPreviousPageFormat = "السابق",
            LinkToNextPageFormat = "التالى",
            LinkToLastPageFormat = ">>",
        }
    )
</div>
<script>
    $(function () {
        $('#myPager').on('click', 'a', function (e) {
            debugger;
            if ($(this).attr('href') === undefined) {
                return;
            } else {
                $.ajax({
                    url: this.href,
                    type: 'POST',
                    cache: false,
                    success: function (result) {
                        $('#CustomerProductDiv').html(result);
                    }
                });
                return false;
            }
        });
    });
</script>