@model PagedList.StaticPagedList<StoreDataInformation.Models.Customer>
@using PagedList.Mvc;


<table class="table table-striped table-bordered" dir="rtl">
    <tr>
        <th>
            كود العميل
        </th>
        <th>
            الاسم 
        </th>
        <th>
            كود المنطقة
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AreaCodeId)
    </td>
    <td>
        @Html.ActionLink("تعديل", "Edit", new { id = item.Id }) |
        @Html.ActionLink("حذف", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>

<div id="myPager">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    <br />
    Total: @Model.TotalItemCount
    @Html.PagedListPager(
        Model,
        page => Url.Action(
            "Index",
            new
            {

                CustomerId = ViewBag.CustomerId,
                CustomerName = ViewBag.CustomerName,
                AreaCodeId = ViewBag.AreaCodeId,
                page
            }
        ),
        new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<<",
            LinkToPreviousPageFormat = "السابق",
            LinkToNextPageFormat = "التالى",
            LinkToLastPageFormat = ">>",
        }
    )
</div>
<script>
    $(function () {
        $('#myPager').on('click', 'a', function (e) {
            debugger;
            if ($(this).attr('href') === undefined) {
                return;
            } else {
                $.ajax({
                    url: this.href,
                    type: 'POST',
                    cache: false,
                    success: function (result) {
                        $('#CustomerDiv').html(result);
                    }
                });
                return false;
            }
        });
    });
</script>